

<div class="l-footer">
  <picture>
    <source srcset="<%= pageinit.path %>img/.webp" type="image/webp" />
    <img src="<%= pageinit.path %>img/.jpg" alt="" width="" height="" />
  </picture>
    <small class="l-footer__copy">© .</small>


</div>